/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/

@font-face {
    font-family: 'NAL Hand';
    src:url('../font/NAL\ Hand.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

html, body {
    height: 100%;
    /* overflow: hidden; */
    background: whitesmoke;
    padding: 0;
}
body #page2, body #page3 {
    height: 450px !important;
    margin-bottom: 10px;
}
header {
    height: 150px;
    margin: 0 auto;
}

/* 14 in upper*/
@media (min-width: 1344px) {    

    body section {
        max-width: 1728px;  /* 18 in */  
        min-width: 1344px;
        height: 60%;
        position: relative;
        background: whitesmoke;
    }
    body #page2, body #page3 {
        height: 450px !important;
        margin-bottom: 10px;
    }
    header {
        width: 80%;
    }
    #page2 .page2-div {
        width: 80%;
    }
}

/* 14 in */
@media (max-width: 1343px) {    

    body section {
        max-width: 1344px;  /* 18 in */  
        min-width: 1248px;
        height: 60%;
        position: relative;
        background: whitesmoke;
    }
    body #page2, body #page3 {
        height: 450px !important;
        margin-bottom: 10px;
    }
    header {
        width: 1152px;
    }
    #page2 .page2-div {
        width: 1152px;
    }
}

/* 12 in */
@media (min-width: 1025px) and (max-width: 1247px) {    

    body section {
        max-width: 1248px;  /* 18 in */  
        min-width: 1025px;
        height: 60%;
        position: relative;
        background: whitesmoke;
    }
    body #page2, body #page3 {
        height: 450px !important;
        margin-bottom: 10px;
    }
    header {
        width: 960px;
    }
    #page2 .page2-div {
        width: 960px;
    }
    
}
    
    /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    ##Device = 랩탑, 데스크탑
    ##Screen = 1025px에서 1280px 사이
    */
    
    /*
    ##Device = Tablets, Ipads (portrait),
    ##Screen = B/w 768px to 1024px
    ##Device = 태블릿, 아이패드(세로),
    ##Screen = 768px에서 1024px 사이
    */
    


    
    @media (min-width: 768px) and (max-width: 1024px) {
        body section {
            max-width: 1024px;  /* 18 in */  
            min-width: 768px;
            height: 60%;
        }
        body #page2, body #page3 {
            height: 450px !important;
            margin-bottom: 10px;
        }
        header {
            width: 768px;
        }
        #page2 .page2-div {
            width: 768px;
        }
    }
    
    /*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    ##Device = 태블릿, 아이패드(가로)
    ##Screen = 768px에서 1024px 사이
    */
    
    /* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    } */
    
    /*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    ##Device = 저해상도 태블릿, 모바일(가로)
    ##Screen = 481px에서 767px 사이
    */
    
    @media (min-width: 481px) and (max-width: 767px) {
    
    
    }
    
    /*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
    ##Device = 대부분의 스마트폰 모바일 기기(세로)
    ##Screen = 320px에서 479px 사이
    */
    
    @media (min-width: 320px) and (max-width: 480px) {
    
    
    }
