.p3-container {
    width: 900px; height: 450px; margin: 0 auto; display: flex; align-items: center; position: relative;
}

.p3-arrow {
    width: 30px; height: 30px; position: absolute;
}

.p3-arrow i {
    opacity: 0.2; color: rgba(0,0,0,0.5); cursor: pointer
}

#p3-prev {
    top: 210px;
    left: -55px;
}

#p3-prev i:hover {
    opacity: 1.0;
    transform: translate(-10px, 0);
    transition: all 1s ease 0s;
}

#p3-next {
    top: 210px;
    right: -40px;
}


#p3-next i:hover {
    opacity: 1.0;
    transform: translate(10px, 0);
    transition: all 1s ease 0s;
}

.p3-container .p3-project {
    width: 100%; height: 100%; display: flex; align-items: center;
}

.p3-container .p3-project .p3-project-left {
    width: 50%; height: 300px;
}

.p3-container .p3-project .p3-project-left img {
    width: 100%; height: 100%; vertical-align: middle;
}

.p3-container .p3-project .p3-project-right {
    width: 45%; height: 80%; margin-left: 30px; position: relative;
}

.p3-container .p3-project .p3-project-right  .p3-t-change {
    position: absolute; top: -40px; left: -25px;
}

.p3-container .p3-project .p3-project-right .p3-t-change .p3-technique {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    margin-right: 30px;
    background: #dbdbdb;
    margin-right: 15px;
    cursor: pointer;
    outline: none;
    font-family: 'Poiret One', cursive;
    color: #878787;
    border: 0;
    box-shadow: 0 3px 8px #aaa, inset 0 2px 3px #fff;
}

.p3-container .p3-project .p3-project-right .p3-t-change .p3-technique a {
    text-decoration: none;     color: #878787;
}

.p3-container .p3-project .p3-project-right .p3-t-change .p3-technique:hover {
    transform: scale(1.2, 1.5);
    transition: all 0.5s ease 0s;
} 

.p3-container .p3-project .p3-project-right .p3-t-change-div {
    width: 100%; height: 100%;
}

.p3-container .p3-project .p3-project-right .p3-t-change-div .p3-main-h  {
    margin-top: 10px; margin-bottom: 10px;
}

.p3-container .p3-project .p3-project-right .p3-t-change-div .p3-sub-h {
    margin-left: 15px;    margin-top: 5px; margin-bottom: 5px;
}

.p3-container .p3-project .p3-project-right .p3-t-change-div .p3-sub-detail {
    margin-left: 25px;    margin-top: 3px; margin-bottom: 3px;
}